.container {
  position: absolute;
  height: 735px;
  left: 385px;
  right: 384px;
  top: 160px;
  width: 670px;
  background: #141414;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.menu_close {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 617px;
  top: 22px;
}

.h_login {
  position: absolute;
  width: 400px;
  height: 25px;
  left: 136px;
  top: 40px;
  font-family: "AmsiPro-Bold";
  font-size: 24px;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.to_use_fight {
  position: absolute;
  width: 400px;
  height: 42px;
  left: 136px;
  top: 71px;
  font-family: "AmsiPro-Regular";
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.login_facebook {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 8px;
  position: absolute;
  width: 400px;
  height: 64px;
  left: 136px;
  top: 134px;
  background: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.face_icon {
  width: 32px;
  height: 32px;
}

.with_facebook {
  width: 155px;
  height: 21px;
  font-family: "AmsiPro-Regular";
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #141414;
}

.login_google {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 8px;
  position: absolute;
  width: 400px;
  height: 64px;
  left: 136px;
  top: 206px;
  background: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.google_icon {
  width: 32px;
  height: 32px;
}

.with_google {
  width: 136px;
  height: 21px;
  font-family: "AmsiPro-Regular";
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #141414;
}

.login_apple {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 8px;
  position: absolute;
  width: 400px;
  height: 64px;
  left: 136px;
  top: 278px;
  background: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.apple_icon {
  width: 32px;
  height: 32px;
}

.with_apple {
  width: 127px;
  height: 21px;
  font-family: "AmsiPro-Regular";
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #141414;
}

.line_or {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 9px;
  position: absolute;
  width: 400px;
  height: 14px;
  left: 136px;
  top: 358px;
}

.lineOne {
  width: 175px;
  height: 0px;
  border: 1px solid #8f8f8f;
}

.or {
  width: 16px;
  height: 21px;
  font-family: "AmsiPro-Regular";
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #8f8f8f;
}

.line_two {
  width: 175px;
  height: 0px;
  border: 1px solid #8f8f8f;
}

.email {
  box-sizing: border-box;
  color: #8f8f8f;
  background-color: #141414;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  gap: 8px;
  position: absolute;
  width: 400px;
  height: 64px;
  left: 136px;
  top: 388px;
  border: 1px solid #8f8f8f;
  filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.25));
  border-radius: 8px;
}

.input_email {
  width: 360px;
  height: 21px;
  font-family: "AmsiPro-Regular";
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #8f8f8f;
}

.password {
  box-sizing: border-box;
  color: #8f8f8f;
  background-color: #141414;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 20px;
  position: absolute;
  width: 400px;
  height: 65px;
  left: 136px;
  top: 460px;
  border: 1px solid #8f8f8f;
  border-radius: 8px;
}

.input_password {
  width: 336px;
  height: 21px;
  font-family: "AmsiPro-Regular";
  font-size: 16px;
  line-height: 21px;
  align-items: center;
  color: #8f8f8f;
}

.eye_icon {
  width: 24px;
  height: 24px;
}

.remember_me {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 14px;
  position: absolute;
  width: 152px;
  height: 18px;
  left: 136px;
  top: 541px;
}
.remember_check {
  width: 18px;
  height: 18px;
}

.label_remember {
  width: 120px;
  height: 18px;
  font-family: "AmsiPro-Regular";
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.forgot_pass {
  position: absolute;
  width: 131px;
  height: 18px;
  left: 401px;
  top: 541px;
  font-family: "AmsiPro-Regular";
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #8f8f8f;
}

.btn_login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 8px;
  position: absolute;
  width: 400px;
  height: 64px;
  left: 136px;
  top: 583px;
  background: #fae600;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.p_login {
  width: 360px;
  height: 16px;
  font-family: "AmsiPro-Bold";
  font-size: 16px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #141414;
}

.register {
  position: absolute;
  width: 400px;
  height: 40px;
  left: 136px;
  top: 655px;
  font-family: "AmsiPro-Regular";
  font-size: 16px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #fae600;
}
