.container {
  position: absolute;
  width: 671px;
  height: 308px;
  left: 385px;
  top: 320px;
  background: #141414;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.Payment_confirmation {
  position: absolute;
  width: 400px;
  height: 25px;
  left: 136px;
  top: 40px;
  font-family: "AmsiPro-Bold";
  font-size: 24px;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.menu_close {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 617px;
  top: 22px;
}

.payment_successfully {
  position: absolute;
  width: 573px;
  height: 63px;
  left: calc(50% - 573px / 2);
  top: 78px;
  font-family: "AmsiPro-Regular";
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #8f8f8f;
}

.circle_check {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 296px;
  top: 154px;
}

.to_home_bage {
  position: absolute;
  width: 400px;
  height: 40px;
  left: 135px;
  top: 247px;
  font-family: "AmsiPro-Regular";
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #8f8f8f;
}
